@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    margin: 0;
}

:root {
    --primary-color: #ec4899;
    --dark-grey: #5a5a5a;
    --light-pink: #fdf2f8;
}

hr {
    margin: 2rem 0rem;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.links-container {
    display: flex;
    justify-content: center;
}

.link {
    padding: 0.5rem 1rem;
    margin: auto;
    display: block;
    width: max-content;
}

.links-container .link {
    margin: 0 1rem 0 0;
}

.link-primary {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.link-secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.link-active {
    font-weight: bold;
}

.list-inline {
    list-style: none;
    display: inline;
    padding: 0.5rem 1rem;
}

.list-non-bullet {
    list-style: none;
}

nav {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0 0 1rem 0;
    padding: 1rem;
}

.nav-list {
    text-align: right;
    padding-inline-start: 0rem;
    margin: 0rem;
    padding-top: 1rem;
    font-size: 1rem;
}

.nav-div {
    font-weight: bold;
    font-size: 1.2rem;
}

.hero {
    height: calc(100vh - 93px - 1.5rem);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.hero-img {
    width: 100%;
    display: block;
    margin: auto;
}

.hero-heading {
    text-align: center;
    color: var(--dark-grey);
    display: block;
}

.hero-span {
    color: var(--primary-color);
}

.hero-tag {
    display: block;
    color: var(--dark-grey);
    text-align: center;
    font-size: 1.25rem;
    padding-top: 0.5rem;
}

.section-white {
    text-align: center;
    padding: 1rem 2rem 2rem;
}

.section-light {
    text-align: center;
    padding: 1rem 2rem 2rem;
    background-color: var(--light-pink);
    border-radius: 1rem;
}

.section-head {
    font-size: 1.3rem;
}

.section-para {
    padding-bottom: 1rem;
}

footer {
    background-color: var(--primary-color);
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem 0 0 0;
    color: white;
    margin-top: 4rem;
}

.footer-list {
    text-align: center;
    padding-inline-start: 0rem;
}

.footer-inline {
    list-style: none;
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}

.blog-text {
    text-align: justify;
    padding: 0 1.5rem;
}

@media only screen and (min-width: 700px) {
    .hero {
    height: calc(100vh - 81px);

    }
    .hero-img {
        max-width: 550px;
    }

    .container {
        max-width: 60%;
        margin: auto;
    }

    .nav-list {
        padding-top: 0;
        font-size: 1.2rem;
    }
}